@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

/* start: global styles */
* {
  outline: none;
}

*:not(.slick-track), *:not(.slick-list) {
  transition: 0.4s;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Sans-serif';
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  color: #353535;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  letter-spacing: 2px;
}

h1, h3, h4, h5 {
  text-transform: uppercase;
}

h2 {
  font-size: 8rem;
}

h3 {
  font-size: 2.85rem;
  letter-spacing: 7px;
  color: #fff;
  margin-bottom: 4rem;
}

h4 {
  font-size: 1.15rem;
}

h5 {
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  cursor: pointer;
  background: #233EDE;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  padding: 1.25rem 3rem;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Roboto', 'Helvetica', 'Sans-serif';
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  color: #7b7b7b;
  line-height: 2;
  font-size: 0.95rem;
}

section, footer {
  padding: 6rem 0;
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.box {
  text-align: center;
}
/* end: global styles */

/* start: hero section styles */
#hero {
  position: relative;
  padding: 0;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 1rem 0;
  z-index: 1;
}

header nav {
  max-width: 950px;
  margin: 0 auto;
  position: relative;
}

header nav ul.flex {
  align-items: center;
  justify-content: space-around;
}

header nav ul li a {
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.top-gym-logo {
  margin: 0 2rem;
  border: 2px solid #fff;
  padding: 15px 10px 7px;
  text-align: center;
  letter-spacing: 2px;
}

.top-gym-logo a {
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
  line-height: 20px;
}

.top-gym-logo a:hover {
  text-decoration: none;
}

#header-logo-mobile {
  display: none;
}

#search {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  width: auto;
  padding: 0;
  font-size: 15px;
  border: none;
  background: transparent;
  color: #fff;
}

#hamburger-menu {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 3px 5px;
  width: 30px;
  cursor: pointer;
  margin: 0 1rem;
  display: none;
}

#hamburger-menu .strip {
  display: block;
  height: 1px;
  background-color: #fff;
  margin: 4px 0;
}

#hero-slider .hero-slide-item {
  position: relative;
  height: 895px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#hero-slider .hero-slide-item .youtube-button {
  background: #233EDE;
  padding: 1.2rem 1.45rem;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
}

#hero-slider .hero-slider-marketing {
  position: absolute;
  z-index: 2;
  text-align: center;
  color: #fff;
  top: 50%;
  left: 0;
  right: 0;
  margin: -100px auto 0;
}

#hero-slider .slick-dots {
  bottom: 35px;
}

#hero-slider .slick-dots li button:before {
  color: #fff;
  opacity: 1;
  padding: 2px 2px 2px 3px;
  border: 3px solid transparent;
  border-radius: 20px;
}

#hero-slider .slick-dots li.slick-active button:before {
  border-color: #fff;
}
/* end: hero section styles */

/* start: features section styles */
#features .box {
  width: 31%;
}

#features .box > img {
  width: 100%;
}

#features .box .feature-info-container {
  position: relative;
}

#features .box .icon {
  position: relative;
  margin: 0 auto;
  background: #233EDE;
  border-radius: 45px;
  top: -35px;
  width: 88px;
  height: 88px;
  line-height: 83px;
  text-align: center;
}

#features .box .icon img {
  vertical-align: middle;
}
/* end: features section styles */

/* start: services section styles */
#services {
  background: #212122;
}

#services .container {
  margin-bottom: 4rem;
}

#services .box {
  width: 23.5%;
}

#services .box img {
  height: 65px;
  margin-bottom: 2rem;
}

#services .box h4 {
  color: #fff;
}
/* end: services section styles */


/* start: trainers section styles */
#trainers {
  background: url('https://onclickwebdesign.com/wp-content/uploads/trainer-bg.jpg') top center no-repeat;
  background-size: cover;
}

#trainers-slider {
  width: 90%;
  margin: 0 auto;
}

#trainers-slider .slick-slide {
  padding: 0 20px;
}

#trainers-slider .trainer-slider-item img {
  width: 100%;
}

#trainers-slider h4 {
  color: #fff;
  margin-top: 2.5rem;
}

#trainers-slider p {
  color: #fff;
  opacity: 0.6;
}

#trainers-slider .slick-prev {
  left: -30px;
}

#trainers-slider .slick-next {
  right: -10px;
}

#trainers-slider .slick-prev:before,
#trainers-slider .slick-next:before {
  font-size: 40px;
}
/* end: trainers section styles */


/* start: meal section styles */
#meal{
    background: url('https://img.freepik.com/premium-vector/gray-background-with-white-background-light-gray-background_664601-2402.jpg') top center no-repeat;
    height:500px;
    background-size: cover;
}
.container-diet {
 
    height: 350px;
    width: 850px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
  }
  
  .item-diet {
    height: 350px;
    width: 30%;
    border: 1px  #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
    background-color:#c0ced1;
    position: sticky;
    top: 0;
    transition: 0.3s;

  }
  .item-diet:hover{
    transform:scale(1.3);
    background-color:#233EDE;
    color:antiquewhite;
  }

  #veg{
    color:white;
    background-color: #233EDE;
    height:30px;
    width:70px;
    border-radius: 5px;
    border-color: black;
  }
  #nonveg{
    color:white;
    background-color: #233EDE;
    height:30px;
    width:80px;
    border-radius: 5px;
    border-color: black;
  }
  
/* end: meal section styles */


/* start: workout schedule section styles */

#schedule{
    height:570px;
    background: #212122;
    background-size: cover;
    color:#fff;
}
#days{
    background-color: #233EDE;
    color: white;
    width: 120px;
    height: 120%;
    padding: 10px;
}

.workout-section {
    text-align: center;
    margin-top: 0px;
  }

  .workout-schedule {
    margin-top: 10px;
    padding: 20px;
    display: none;
    color:white;
    transition: 0.3s;
  }
  .workout-schedule:hover{
    transform:scale(1.1);
  }
  
/* end: workout schedule section styles */


/* start: footer section styles */
footer {
  background: url('foot.jpg') top center no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
}

.footer-container {
  max-width: 625px;
  margin: 0 auto;
}

#footer-logo {
  display: inline-block;
}

footer nav {
  margin: 2rem 0 6rem;
}

footer ul {
  display: flex;
  justify-content: space-around;
}

footer ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 300;
}

footer .mailing-list {
  position: relative;
}

footer input {
  color: #fff;
  height: 78px;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  border: 2px solid #fff;
  font-size: 13px;
  font-style: italic;
  padding-left: 2rem;
}

footer button {
  position: absolute;
  right: 2px;
  top: 2px;
  padding: 1.75rem 3rem;
}

footer ul.social-icons {
  max-width: 400px;
  margin: 4rem auto 3rem;
}

footer ul.social-icons li a {
  font-size: 1rem;
}

footer img.bicep {
  display: block;
  margin: 0 auto 2rem;
}

footer small {
  color: #fff;
  opacity: 0.8;
  font-weight: 300;
  margin: 0 0.5rem;
}

footer small a {
  color: #fff;
  text-decoration: underline;
}
::placeholder{
    color:white;
}
/* end: footer section styles */

/* start: search and embed video overlay styles */
#search-container
 {
  background: #073B4C;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  visibility: hidden;
  transition: 0.3s;
}




#search-container-hide
{
  color: #fff;
  font-size: 1.75rem;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

#search-container h3,
.search-container-input {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -50px auto 0;
  max-width: 500px;
}

#search-container h3 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-align: center;
  margin: -125px auto 0;
}

.search-container-input input {
  width: 100%;
  height: 58px;
  box-sizing: border-box;
  font-size: 16px;
  padding-left: 2rem;
}

.search-container-input button {
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
/* end: search and embed video overlay styles */

/* start: media queries */
@media (max-width: 992px) {
  h2 {
    font-size: 6rem;
  }

  header nav {
    max-width: 775px;
  }

  .top-gym-logo {
    margin: 0 1rem;
  }

  .upcoming-classes-box {
    padding: 2rem 1.5rem 0.5rem;
  }

  .upcoming-classes-box h4 {
    margin-bottom: 1rem;
  }

  .membership-cards-box .inner-container {
    padding: 0.5rem 1.5rem 1.5rem;
    height: 100%;
    box-sizing: border-box;
  }

  .membership-cards-box h2 {
    font-size: 3.5rem;
  }

  .personal-trainer-box {
    padding: 2rem 1.5rem 1.5rem;
  }

  .personal-trainer-box p {
    font-size: 0.85rem;
  }

  @media (min-width: 768px) {
    header nav {
      display: block !important;
    }
  }

  @media (max-width: 767px) {
    h2 {
      font-size: 4rem;
      margin-top: 2rem;
    }

    .flex {
      display: block;
    }

    .flex .box {
      margin: 0 auto;
      width: 100% !important;
      margin-top: 3rem;
    }

    .flex .box:first-child {
      margin-top: 0;
    }

    header {
      background: rgba(0, 0, 0, 0.85);
    }

    header .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: static;
    }
    
    #header-logo-mobile {
      display: inline-block;
    }

    header nav {
      position: absolute;
      top: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.85);
      display: none;
    }

    header nav ul.flex {
      display: block;
    }

    header nav ul li {
      margin: 1rem 0;
    }

    header nav ul li:last-child {
      margin-bottom: 2rem;
    }

    header nav ul li a {
      font-size: 1.5rem;
    }

    #search {
      position: static;
      font-size: 1.5rem;
    }

    #hamburger-menu {
      display: block;
    }

    #header-logo {
      display: none;
    }

    #features .box .feature-info-container {
      padding: 0 1rem;
    }

    #schedule-services .flex {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
    }

    #schedule-services .flex > div.upcoming-classes-box,
    #schedule-services .flex > div.membership-cards-box {
      width: 48%;
    }

    #schedule-services .flex > div.personal-trainer-box {
      width: 100%;
      margin-top: 3rem;
      background-size: cover;
    }

    .personal-trainer-box p {
      font-size: 0.95rem;
    }

    .membership-cards-box .inner-container {
      background-size: cover;
    }
  }

  @media (max-width: 600px) {
    .video-frame-container {
      top: 30%;
    }

    #schedule-services .flex > div {
      width: 100% !important;
      margin-top: 3rem;
    }

    #schedule-services .flex > div:first-child {
      margin-top: 0;
    }

    .membership-cards-box .inner-container {
      min-height: 500px;
    }

    footer ul li a {
      font-size: 0.65rem;
    }

    footer .mailing-list {
      margin: 0 0.5rem;
    }

    footer button {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  @media (max-width: 500px) {
    .membership-cards-box .inner-container {
      min-height: 400px;
    }

    footer ul {
      flex-wrap: wrap;
    }

    footer nav ul li {
      width: 33%;
      margin-top: 1rem;
    }
  }
}
/* end: media queries */
