@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

/* start: global styles */
* {
  outline: none;
}

*:not(.slick-track), *:not(.slick-list) {
  transition: 0.4s;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Sans-serif';
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  color: #353535;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  letter-spacing: 2px;
}

h1, h3, h4, h5 {
  text-transform: uppercase;
}

h2 {
  font-size: 8rem;
}

h3 {
  font-size: 2.85rem;
  letter-spacing: 7px;
  color: #fff;
  margin-bottom: 4rem;
}

h4 {
  font-size: 1.15rem;
}

h5 {
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  cursor: pointer;
  background: #233EDE;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  padding: 1.25rem 3rem;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Roboto', 'Helvetica', 'Sans-serif';
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  color: #7b7b7b;
  line-height: 2;
  font-size: 0.95rem;
}

section, footer {
  padding: 6rem 0;
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.box {
  text-align: center;
}
/* end: global styles */

/* start: hero section styles */
#hero {
  position: relative;
  padding: 0;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 1rem 0;
  z-index: 1;
}

header nav {
  max-width: 950px;
  margin: 0 auto;
  position: relative;
}

header nav ul.flex {
  align-items: center;
  justify-content: space-around;
}

header nav ul li a {
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.top-gym-logo {
  margin: 0 2rem;
  border: 2px solid #fff;
  padding: 15px 10px 7px;
  text-align: center;
  letter-spacing: 2px;
}

.top-gym-logo a {
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
  line-height: 20px;
}

.top-gym-logo a:hover {
  text-decoration: none;
}

#header-logo-mobile {
  display: none;
}

#search {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  width: auto;
  padding: 0;
  font-size: 15px;
  border: none;
  background: transparent;
  color: #fff;
}

#hamburger-menu {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 3px 5px;
  width: 30px;
  cursor: pointer;
  margin: 0 1rem;
  display: none;
}

#hamburger-menu .strip {
  display: block;
  height: 1px;
  background-color: #fff;
  margin: 4px 0;
}

#hero-slider .hero-slide-item {
  position: relative;
  height: 895px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#hero-slider .hero-slide-item .youtube-button {
  background: #233EDE;
  padding: 1.2rem 1.45rem;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
}

#hero-slider .hero-slider-marketing {
  position: absolute;
  z-index: 2;
  text-align: center;
  color: #fff;
  top: 50%;
  left: 0;
  right: 0;
  margin: -100px auto 0;
}

#hero-slider .slick-dots {
  bottom: 35px;
}

#hero-slider .slick-dots li button:before {
  color: #fff;
  opacity: 1;
  padding: 2px 2px 2px 3px;
  border: 3px solid transparent;
  border-radius: 20px;
}

#hero-slider .slick-dots li.slick-active button:before {
  border-color: #fff;
}
/* end: hero section styles */


/* start: features section styles */
#features .box {
  width: 31%;
}

#features .box > img {
  width: 100%;
}

#features .box .feature-info-container {
  position: relative;
}

#features .box .icon {
  position: relative;
  margin: 0 auto;
  background: #233EDE;
  border-radius: 45px;
  top: -35px;
  width: 88px;
  height: 88px;
  line-height: 83px;
  text-align: center;
}

#features .box .icon img {
  vertical-align: middle;
}
/* end: features section styles */


/* start: services section styles */
#services {
  background: #212122;
}

#services .container {
  margin-bottom: 4rem;
}

#services .box {
  width: 23.5%;
}

#services .box img {
  height: 65px;
  margin-bottom: 2rem;
}

#services .box h4 {
  color: #fff;
}
/* end: services section styles */


/* start: trainers section styles */
#trainers {
  background: url('https://onclickwebdesign.com/wp-content/uploads/trainer-bg.jpg') top center no-repeat;
  background-size: cover;
}

#trainers-slider {
  width: 90%;
  margin: 0 auto;
}

#trainers-slider .slick-slide {
  padding: 0 20px;
}

#trainers-slider .trainer-slider-item img {
  width: 100%;
}

#trainers-slider h4 {
  color: #fff;
  margin-top: 2.5rem;
}

#trainers-slider p {
  color: #fff;
  opacity: 0.6;
}

#trainers-slider .slick-prev {
  left: -30px;
}

#trainers-slider .slick-next {
  right: -10px;
}

#trainers-slider .slick-prev:before,
#trainers-slider .slick-next:before {
  font-size: 40px;
}
/* end: trainers section styles */

